@model List<BookStoreV2.Entity.Models.Book>
@{
}

<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-sm-4 col-lg-4 col-md-4">
                <div class="thumbnail" style="height: 300px;">
                    <img src="@item.PhotoUrl" alt="" style="height: 250px;">
                    <div class="caption">
                        <h5 class="pull-right">@item.Price.ToString("C")</h5>
                        <h5>
                            <a href="#" onclick="Atama({Name : '@item.Name', Price : '@item.Price', Url : '@item.PhotoUrl'})" 
                               data-toggle="modal" data-target="#myModal">@item.Name</a>
                        </h5>
                    </div>
                </div>
            </div>
        }

        <input type="hidden" id="bookId" />

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="name"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="price"></p>
                        <img id="photo" class="img-responsive center-block" style="height: 200px;"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <script type="text/javascript">
        function Atama(value) {
            document.getElementById("name").innerText = value.Name;
            document.getElementById("price").innerText = value.Price;
            document.getElementById("photo").src = value.Url;
        }
    </script>
</div>
